html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--white-text-color: #ffffff;
	--blue-color: #2196f3;
	--blue-hover-color: #188ce8;
	--background-back-color: #2f303a;
	--logo-part2-color: #000000;
	--footer-color: rgba(255, 255, 255, 0.6);
	--button-bg-color: #f5f4fa;
	--team-bg-color: #f5f4fa;
	--main-bg-color: #f5f5f5;
	--border-heder-line: #ececec;
	--border-card-line: #eeeeee;
	--icon-main-color: #afb1b8;
	--hero-bg-color: #c4c4c4;
	--hero-bg-overlay: rgba(47, 48, 58, 0.4);
	--bgcolor-wedo: rgba(47, 48, 58, 0.8);
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--bgcolor-exampl-overlay: rgba(33, 150, 243, 0.9);
}

body {
	font-family: "roboto", sans-serif;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list {
	list-style: none;
}

.link,
.link-logo {
	text-decoration: none;
}

.hero {
	background-color: var(--hero-bg-color);
	background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero\ bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1600px;
	margin: 0 auto;
	text-align: center;

	padding: 200px 0px;
}

.hero .text {
	width: 696px;
	margin: auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-text-color);
}

.hero-button {
	padding: 10px 32px;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	letter-spacing: 0.06em;
	color: var(--white-text-color);
	background-color: var(--blue-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	transition: background-color 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
	background-color: var(--blue-hover-color);
	cursor: pointer;
}

.button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	background-color: var(--button-bg-color);
	border-radius: 4px;
	border: none;
	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function);
}

.button:hover,
.button:focus,
.button:active {
	color: var(--white-text-color);
	background-color: var(--blue-color);
	cursor: pointer;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contflex-div,
.contflex-nav {
	display: flex;
	align-items: center;
}

.link-logo {
	margin-right: 93px;
}

.tag {
	color: var(--white-text-color);
	background-color: var(--blue-color);
}

.header {
	background-color: var(--white-text-color);
	border-bottom: 1px solid var(--border-heder-line);
}

.logo-part1,
.logo-part2,
.logo-part3 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-part1 {
	color: var(--blue-color);
}

.logo-part2 {
	color: var(--logo-part2-color);
}

.logo-part3 {
	color: var(--white-text-color);
}

.site-nav .link {
	display: block;
	position: relative;
	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
	color: var(--blue-color);
}

.site-nav .current {
	color: var(--blue-color);
}

.site-nav .current::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--blue-color);
}

.site-nav {
	display: flex;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.site-adress {
	display: flex;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	color: var(--primary-text-color);
}

.site-adress .item {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	justify-content: center;
	align-items: center;
}

.site-adress .item .icon {
	display: flex;
	margin-right: 10px;
	justify-content: center;
	align-items: center;
	fill: currentColor;
	transition: color 250ms var(--timing-function);
}

.site-adress .item:not(:last-child) {
	margin-right: 50px;
}

.site-adress .link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	transition: color 250ms var(--timing-function);
}

.item .mail {
	padding-top: 32px;
	padding-bottom: 32px;
}

.site-adress :hover .icon,
.site-adress :focus .icon,
.site-adress :active .icon {
	color: var(--blue-color);
	cursor: pointer;
}

.site-adress :focus .link,
.site-adress :hover .link,
.site-adress :active .link {
	color: var(--blue-color);
	cursor: pointer;
}

.city-adress {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--white-text-color);
	transition: color 250ms var(--timing-function);
}

.city-adress:hover,
.city-adress:focus,
.city-adress:active {
	color: var(--blue-color);
}

.benefits-li {
	display: flex;
}

.container .no-pudding {
	margin-bottom: 0;
}

.benefits-bloks {
	display: flex;
	background-color: var(--button-bg-color);
	width: 270px;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
}

.benefits-li .list:not(:last-child) {
	margin-right: 30px;
}

.benefits .head {
	margin-bottom: 10px;
}

.benefits .head {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
}

.examples .name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}

.benefits .text {
	width: 270px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.wedo .head,
.team .head,
.clients .head {
	text-align: center;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.wedo .list {
	display: flex;
	gap: 30px;
}

.wedo-card {
	position: relative;
}

.what-wedo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 370px;
	height: 70px;
	left: 0;
	bottom: 0;
	background-color: var(--bgcolor-wedo);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	margin: 0;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-text-color);
}

.team {
	background-color: var(--team-bg-color);
}

.team .list-card {
	display: flex;
	gap: 30px;
	text-align: center;
}

.team .name {
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.team-card {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--white-text-color);
}

.team .job {
	margin-bottom: 16px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.team-social {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.team-social-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--icon-main-color);
	transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.team-social-link:hover,
.team-social-link:focus,
.team-social-link:active {
	background-color: var(--blue-color);
}

.team-social-link:hover .social-link-icon,
.team-social-link:focus .social-link-icon,
.team-social-link:active .social-link-icon {
	fill: var(--white-text-color);
}

.examples .type {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.benefits {
	padding-bottom: 0;
}

.clients-list {
	display: flex;
	gap: 30px;
}

.client-link {
	display: flex;
	fill: var(--icon-main-color);
	border: 1px solid var(--icon-main-color);
	border-radius: 4px;
	width: 170px;
	height: 92px;
	justify-content: center;
	align-items: center;
	transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
	fill: var(--blue-color);
	border-color: var(--blue-color);
	cursor: pointer;
}

.site-footer .contacts {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--footer-color);
	transition: color 250ms var(--timing-function);
}

.site-footer .contacts:hover,
.site-footer .contacts:focus,
.site-footer .contacts:active {
	color: var(--blue-color);
}

.footer {
	background-color: var(--background-back-color);
	padding: 60px 0px;
}

.footer-logo {
	margin-bottom: 20px;
}

.footer-list {
	margin-bottom: 9px;
}

.footer-blocks {
	display: flex;
	align-items: baseline;
}

.footer-block-one {
	margin-right: 70px;
}

.footer-block-three {
	margin-left: auto;
}

.email-sent {
	display: flex;
}

.button-footer {
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white-text-color);
	background: var(--blue-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	padding: 0;
	outline: none;
}

.email-footer {
	width: 358px;
	height: 50px;
	margin: 0px;
	padding: 0;
	outline: none;
	margin-right: 12px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: var(--background-back-color);
	color: var(--white-text-color);
}

.email-sent input {
	padding-left: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21.25;
	align-items: center;
	letter-spacing: 0.03em;
	/* колір тексту не вказано і я вибрав білий */
	color: var(--white-text-color);
}

.email-sent input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 21.25;
	align-items: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.button-icon {
	display: flex;
	position: relative;
	margin: 10px 28px;
	width: 144px;
	height: 30px;
	border: none;
	align-items: center;
}

.send-icon {
	position: absolute;
	top: o;
	right: 0;
	fill: var(--white-text-color);
}

.footer-social {
	display: flex;
	gap: 10px;
}

.footer-title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-text-color);
}

.footer-social-item {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
}

.footer-social-link {
	fill: var(--white-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: background-color 250ms var(--timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
	background-color: var(--blue-color);
}

.list-buttons {
	width: 575px;
	display: flex;
	margin: auto;
	margin-bottom: 50px;
	justify-content: center;
	border: none;
	border-radius: 4px;
}

.list-buttons .block:not(:last-child) {
	margin-right: 8px;
}

.button-pudding {
	padding: 6px 22px;
}

.examples {
	display: flex;
	flex-wrap: wrap;
}

.exampl-element {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
}

.exampl-element:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.exampl-element:nth-child(3n) {
	margin-right: 0;
}

.exampl-element .name {
	margin-bottom: 4px;
}

.exampl-element-link {
	display: block;
	text-decoration: none;
}

.exampl-card {
	border-left: 1px solid var(--border-card-line);
	border-right: 1px solid var(--border-card-line);
	border-bottom: 1px solid var(--border-card-line);
	padding: 20px 24px;
}

.exampl-overflow {
	position: relative;
	overflow: hidden;
}

.exampl-overlay {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--white-text-color);
	background-color: var(--bgcolor-exampl-overlay);
	transform: translateY(100%);
	opacity: 0;
	transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
	overflow: auto;
}

.exampl-element-link:hover .exampl-overlay,
.exampl-element-link:focus .exampl-overlay {
	transform: translateY(0%);
	opacity: 1;
}

.exampl-element-link:hover,
.exampl-element-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
	width: 528px;
	min-height: 581px;
	padding: 40px;
	background-color: var(--white-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1) rotate(360deg);
	transition: transform 500ms var(--timing-function);
}

.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--white-text-color);
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.icon-modal-close {
	fill: var(--logo-part2-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.form-title {
	text-align: center;

	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.form {
	width: 448px;

	margin-bottom: 20px;
}

.form-field {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
	outline: none;
	margin-bottom: 10px;
}

.form-field input {
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	outline-style: none;
}

.form-field label {
	margin-bottom: 4px;
}

.form-field textarea {
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	height: 120px;
	/* margin-bottom: 20px; */
	padding: 12px 16px;
	outline: none;
	resize: none;
}

.form-field:hover input,
.form-field:hover .form-icon {
	border-color: var(--blue-color);
	fill: var(--blue-color);
}

.icon-position input:focus,
.icon-position input:focus + .form-icon {
	border-color: var(--blue-color);
	fill: var(--blue-color);
}

.form-field:hover textarea,
.form-field textarea:focus {
	border-color: var(--blue-color);
}

.icon-position {
	position: relative;
	display: flex;
	flex-direction: column;
}

.form-icon {
	position: absolute;
	left: 21px;
	top: 50%;
	transform: translate(-50%, -50%);
	fill: var(--title-text-color);
}

.link-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration-line: underline;
	color: var(--blue-color);
}

.agree-text {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.agree-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 7px;
	width: 16px;
	height: 15px;
	fill: var(--white-text-color);
	border-radius: 2px;
	border: solid 2px var(--background-back-color);
}

.checkbox:checked + .agree-icon {
	background-size: contain;
	background-origin: border-box;
	background-color: var(--blue-color);
	border-color: var(--blue-color);
	fill: var(--white-text-color);
	border-radius: 2px;
	/* border: solid 2px var(--background-back-color); */
}

.agree-text input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button-modal {
	text-align: center;
	margin-top: 30px;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--white-text-color);
	background: var(--blue-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	padding: 0;
	outline: none;
}

.button-modal:hover {
	background-color: var(--blue-hover-color);
}

.button-modal-center {
	display: flex;
	justify-content: center;
}
